/* ==========================================================================
   Custom skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #131313 !default;
$primary-color: #886fd3 !default;
$border-color: mix(#454545, $background-color, 40%) !default;
$code-background-color: #b8b8b8 !default;
$code-background-color-dark: #a7a7a7 !default;
$form-background-color: mix(rgb(255, 255, 255), $background-color, 15%) !default;
$footer-background-color: mix(rgb(155, 155, 155), $background-color, 20%) !default;
$link-color: #4e4485 !default;
$link-color-hover: #706fd3 !default;
$link-color-visited:#40407a !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}